* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fffdfa;
  color: #293223;
  font-family: Manrope, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

h1 {
  font-size: 6rem;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  line-height: 97%;
  font-weight: 400;
}

h2 {
  font-size: 1.5rem;
  letter-spacing: 0.015em;
  font-weight: 400;
}

p {
  line-height: 150%;
  font-size: 1rem;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding-left: 1rem;
}

li {
  line-height: 150%;
  font-size: 1rem;
  font-weight: 400;
}

.navbar-component {
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 100;
  border-bottom: 1px solid #adadad;
  background: rgba(222, 220, 218, 0.25);
  backdrop-filter: blur(15px);
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
  padding: 1rem 4rem;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.navbar-links-list {
  list-style-type: none;
  display: flex;
  gap: 0.5rem;
  padding-left: 0px;
}

.navbar-link {
  padding: 1rem 0.5rem;
}

.section {
  padding: 2rem 4rem;
}

#hero-section {
  padding-top: 8rem;
}

.hero-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  align-items: start;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 90rem;
  position: relative;
}

.blog-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, auto);
  gap: 1.5rem;
}

.blog-card {
  border-radius: 1.5rem;
  border: 1px solid #adadad;
  background: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(40px);
  display: flex;
  width: 100%;
  padding: 1.5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  flex-shrink: 0;
}

.blog-img-wrapper {
  aspect-ratio: 16 / 9;
  width: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
}

.blog-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-paragraph {
  margin-bottom: 1rem;
  color: #646663;
}

.background-video-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  opacity: 15%;
  mix-blend-mode: hard-light;
  pointer-events: none;
}

.background-video {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.blog-info {
  display: flex;
  gap: 0.75rem;
  flex-wrap: wrap;
}

.blog-chip {
  padding: 0.5rem 0.75rem;
  border-radius: 6.25rem;
  background: #ecedea;
}

@media only screen and (max-width: 990px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 1.125rem;
    letter-spacing: 0.015em;
    font-weight: 400;
  }

  p {
    font-size: 0.875rem;
  }

  li {
    font-size: 0.875rem;
  }

  .section {
    padding: 2rem 2.5rem;
  }

  .navbar-component {
    padding: 1rem 2.5rem;
  }

  .blog-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .blog-card {
    padding: 1.125rem;
  }
}

@media only screen and (max-width: 765px) {
  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 1.125rem;
    letter-spacing: 0.015em;
    font-weight: 400;
  }

  .section {
    padding: 2rem 1.5rem;
  }

  .hero-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
  }

  .navbar-component {
    padding: 1rem 1.5rem;
  }

  .blog-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .blog-card {
    padding: 1rem;
  }
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.125rem;
    letter-spacing: 0.015em;
    font-weight: 400;
  }

  .navbar-container {
    gap: 0.5rem;
  }

  .navbar-link {
    padding: 0.5rem 0.25rem;
  }

  .blog-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
