@font-face {
  font-family: 'Sigurd'; /* Choose a name for your font */
  src: url('../assets/Sigurd.otf') format('otf-variations');
  font-weight: 100 900;
  font-style: normal;
}

:root {
  --color-green: #62685e;
  --color-dark-green: #293223;
  --color-light: #fffdfa;
  --color-transparent: transparent;
  --color-black: black;
  --color-text-black: #101010;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-light);
  color: var(--color-dark-green);
  font-family: Manrope, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: var(--color-green);
  display: flex;
  flex-flow: column;
  min-height: 100svh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Sigurd, 'Times New Roman', serif;
  color: var(--color-green);
  font-weight: 400;
}

h1 {
  font-size: 5rem;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  line-height: 97%;
  font-weight: 300;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 1rem;
}

p {
  line-height: 150%;
  font-size: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: ease-out all 200ms;
}

a:hover {
  opacity: 70%;
}

ul {
  padding-left: 1rem;
}

li {
  line-height: 150%;
  font-size: 1rem;
  font-weight: 400;
}

input {
  background-color: var(--white);
  color: var(--color-green);
  padding: 0.5rem 1rem;
  border: 1px solid #62685e4d;
  border-radius: 0.5rem;
  max-width: 500px;
  min-height: 2.5rem;
  line-height: 100%;
  transition: all 0.2s;
}

input:focus {
  border: 1px dashed var(--color-green);
  outline: none;
}

button {
  padding: 0.5rem 1rem;
  margin: 0rem 0.125rem;
  min-height: 2.5rem;
  border: 1px solid #62685e4d;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: var(--color-transparent);
  transition: ease-out all 200ms;
}

button:hover {
  border: 1px dashed var(--color-green);
}

.rich-text h1 {
  margin-bottom: 2rem;
}

.rich-text h2 {
  margin-bottom: 1rem;
}

.rich-text h3 {
  margin-bottom: 1rem;
}

.rich-text p {
  margin-bottom: 2rem;
}

.rich-text a {
  text-decoration: underline;
  color: var(--color-black);
}

.rich-text img {
  width: 100%;
}

.back-button {
  border: none;
  background-color: var(--color-transparent);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  padding: 0.5rem 0rem;
  position: sticky;
  top: 7rem;
  text-wrap: nowrap;
}

.navbar-component {
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 100;
  border-bottom: 1px solid #adadad;
  background-color: rgba(222, 220, 218, 0.25);
  backdrop-filter: blur(15px);
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
  padding: 1rem 4rem;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.navbar-links-list {
  list-style-type: none;
  display: flex;
  gap: 0.5rem;
  padding-left: 0px;
}

.navbar-link {
  padding: 1rem 0.5rem;
  font-family: Sigurd, 'Times New Roman', serif;
}

.section {
  padding: 2rem 4rem;
}

#hero-section {
  padding-top: 8rem;
  flex-grow: 1;
}

.hero-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  align-items: start;
}

.hero-paragraph {
  padding-top: 0.5rem;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 90rem;
  position: relative;
}

.margin-bottom-large {
  margin-bottom: 2.5rem;
}

.margin-bottom-medium {
  margin-bottom: 2rem;
}

.margin-bottom-small {
  margin-bottom: 1rem;
}

.text-color-black {
  color: var(--color-black);
}

.blog-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, auto);
  gap: 1.5rem;
}

.blog-card {
  border-radius: 1.5rem;
  border: 1px solid #adadad;
  display: flex;
  width: 100%;
  padding: 1.5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  flex-shrink: 0;
}

.blog-card:hover {
  opacity: 100%;
}

.blog-img-wrapper {
  aspect-ratio: 16 / 9;
  width: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
}

.blog-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-card-title {
  color: var(--color-black);
}

.blog-paragraph {
  margin-bottom: 1rem;
}

.background-video-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  opacity: 15%;
  mix-blend-mode: hard-light;
  pointer-events: none;
}

.background-video {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.blog-info {
  display: flex;
  gap: 0.75rem;
  flex-wrap: wrap;
}

.blog-chip {
  padding: 0.5rem 0.75rem;
  border-radius: 6.25rem;
  background: #69746126;
}

.blog-link {
  font-weight: 500;
  text-decoration: underline !important;
}

.blog-container {
  justify-content: flex-start;
  align-items: start;
  display: flex;
  position: relative;
  gap: 8rem;
  padding-bottom: 6rem;
}

.blog-content {
  max-width: 800px;
}

.blog-title {
  font-size: 3rem;
  text-transform: none;
}

.page-wrapper {
  flex-grow: 1;
  flex-flow: column;
  display: flex;
}

@media only screen and (max-width: 990px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 1.125rem;
    letter-spacing: 0.015em;
    font-weight: 400;
  }

  p {
    font-size: 0.875rem;
  }

  li {
    font-size: 0.875rem;
  }

  .section {
    padding: 2rem 2.5rem;
  }

  .navbar-component {
    padding: 1rem 2.5rem;
  }

  .blog-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .blog-card {
    padding: 1.125rem;
  }

  .blog-container {
    flex-flow: column;
    gap: 1.5rem;
    padding-bottom: 3rem;
  }
}

@media only screen and (max-width: 765px) {
  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 1.125rem;
    letter-spacing: 0.015em;
    font-weight: 400;
  }

  .section {
    padding: 2rem 1.5rem;
  }

  .hero-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
  }

  .hero-paragraph {
    padding-top: 0rem;
  }

  .navbar-component {
    padding: 1rem 1.5rem;
  }

  .blog-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .blog-card {
    padding: 1rem;
  }

  .blog-title {
    font-size: 2rem;
  }
  .back-button {
    position: static;
  }
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.125rem;
    letter-spacing: 0.015em;
    font-weight: 400;
  }

  .navbar-container {
    gap: 0.5rem;
  }

  .navbar-link {
    padding: 0.5rem 0.25rem;
  }

  .blog-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
